<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08 layout-reverse">

    <header class="masthead">
      <div class="masthead-inner">
      	<img src="/public/profile_pic.jpg" width="144px" height="144px" alt="profile picture">
        <a href="/"><h1>{{ site.title }}</h1></a>
        <p class="lead">{{ site.description }}</p>
         <div class="colophon">
          <table>
          <tr>
      <iframe src="https://githubbadge.appspot.com/parthdesai?s=1&a=0" style="border: 0;height: 142px;width: 144px;overflow: hidden;" frameBorder="0"></iframe>
	    <td width="20%"> <a href="https://in.linkedin.com/in/parthdesai08" target="_blank"><img alt="Linkedin" src="/public/linkedIn_logo.png" width="50" height="50"> </a> </td>
            <td width="20%"> <a href="https://github.com/parthdesai" target="_blank"><img alt="Github" src="/public/github_logo.png" width="50" height="50"> </a></td>
            <td width="20%"> <a href="https://stackoverflow.com/users/316240/desaiparth" target="_blank"><img alt="StackOverflow" src="/public/stackoverflow_logo.jpg" width="50" height="50"> </a></td>
            <td> </td>
            </tr>
          </table>
          <table style="width:100%" class="colophon-links">
            <tr>
            <td><a href="/about">About Me!</a></td>
            </tr>
            <tr>
                <td><a href="/public/assets/resume.pdf">My Resume</a></td>
            </tr>
            <tr>
              <td><a href="https://github.com/parthdesai?tab=repositories">Projects</a></td>
            </tr>
          </table>
          <style>
          </style>
          <p>&copy; 2020. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
  </header>

    <div class="content container">
      {{ content }}
    </div>
    <script async type="text/javascript" charset="utf-8" src="/public/js/ga.js"></script>
  </body>
</html>
