<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08 layout-reverse">

    <header class="masthead">
      <div class="masthead-inner">
        <img src="/public/profile_pic.jpg" width="144px" height="144px" alt="profile picture">
        <a href="/"><h1>{{ site.title }}</h1></a>
        <p class="lead">{{ site.description }}</p>
         <div class="colophon">
          <iframe src="http://ghbtns.com/github-btn.html?user=parthdesai&type=follow&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
          <table style="width:100%" class="colophon-links" cellspacing="10">
            <tr>
	    <td> <a href="https://in.linkedin.com/in/parthdesai08"><img alt="Linkedin" src="/public/linkedIn_logo.png" width="50" height="50"> </a> </td>
            <td> <iframe src="http://ghbtns.com/github-btn.html?user=parthdesai&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></td>
            </tr>
            <tr>
            <td><a href="/about">About Me!</a></td>
            </tr>
            <tr>
                <td><a href="http://careers.stackoverflow.com/parthdesai">My Resume</a></td>
            </tr>
            <tr>
              <td><a href="https://github.com/parthdesai?tab=repositories">Projects</a></td>
            </tr>
          </table>
          <style>
          </style>
          <p>&copy; 2015. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
  </header>

    <div class="content container">
      {{ content }}
    </div>
    <script async type="text/javascript" charset="utf-8" src="/public/js/ga.js"></script>
  </body>
</html>
